<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<th:block layout:fragment="content">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
                <th>성별</th>
                <th>취미</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.city}"></td>
                <td th:text="${member.street}"></td>
                <td th:text="${member.zipcode}"></td>
                <td th:text="${member.gender}"></td>
                <td th:text="${member.hobby}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="#" th:href="@{/common/downloadExcel}" class="button">엑셀 다운로드</a>
    </div>
    <div>
        <form id="frm" name="frm" method="post" action="/common/uploadExcel" enctype="multipart/form-data">
            <input type="file" id="excelFile" name="excelFile"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</th:block>
</html>