<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.repository.BoardMapper">

    <sql id="listWhere">
        where 1=1
        <choose>
            <when test="type != null and type.equals('title')">
                and title Like concat('%',#{keyword},'%')
            </when>
            <when test="type != null and type.equals('content')">
                and content Like concat('%',#{keyword},'%')
            </when>
            <when test="type != null and type.equals('writer')">
                and writer = #{keyword}
            </when>
        </choose>
    </sql>

    <insert id="save" parameterType="Board" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        insert into boards (writer,title,content,reg_date)
        values (#{writer},#{title},#{content},CURRENT_DATE())
    </insert>

    <select id="findOne" resultType="Board">
        select * from boards
        where idx = #{idx}
    </select>

    <select id="findAll" parameterType="BoardSearch" resultType="Board">
        select * from boards
        <include refid="listWhere"></include>
        order by idx desc
        Limit #{start}, #{end}
    </select>

    <update id="modify" parameterType="Board">
        update boards
        set writer=#{writer}
        ,title=#{title}
        ,content=#{content}
        ,hit=#{hit}
        where idx = #{idx}
    </update>

    <update id="modifyHit" parameterType="Board">
        update boards
        set hit = hit+1
        where idx = #{idx}
    </update>

    <select id="getTotal" parameterType="BoardSearch" resultType="Integer">
        select count(*) as total
        from boards
        <include refid="listWhere"></include>
    </select>

    <insert id="saveAttach" parameterType="Attach" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        insert into attach (board_idx,original_file_name,stored_file_name,file_size,reg_date)
        values (#{boardIdx},#{originalFileName},#{storedFileName},#{fileSize},CURRENT_DATE())
    </insert>

    <select id="findFileList" parameterType="Long" resultType="Attach">
        select * from attach
        where board_idx = #{boardIdx}
        order by reg_date
    </select>

    <select id="findFileOne" parameterType="Long" resultType="Attach">
        select * from attach
        where idx = #{idx}
    </select>

</mapper>