<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.repository.DeliveryMapper">

    <resultMap id="deliveryResultMap" type="com.example.shop.model.Delivery">
        <result column="delivery_id" property="deliveryId"/>
        <result column="city" property="city"/>
        <result column="street" property="street"/>
        <result column="zipcode" property="zipcode"/>
        <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <insert id="save" parameterType="Delivery" useGeneratedKeys="true" keyProperty="deliveryId" keyColumn="delivery_id">
        insert into delivery (city,street,zipcode,status)
        values (#{city},#{street},#{zipcode},#{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler})
    </insert>

    <select id="findOne" resultMap="deliveryResultMap">
        select * from delivery
        where delivery_id = #{deliveryId}
    </select>

    <update id="modifyStatus" parameterType="Delivery">
        update delivery
        set status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        where delivery_id = #{deliveryId}
    </update>
</mapper>