<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<th:block layout:fragment="content">
    <div class="container">
        <div th:object="${board}">
            <h1 class="mt-4" th:text="*{title}"></h1>
            <hr>
            <p th:utext="*{content}" />
            <div class="card my-4" th:if="${#lists.size(fileList)>0}">
                <div class="card-body">
                    <ul>
                        <li th:each="file : ${fileList}">
                            <a href="#this" th:href="@{/common/downloadFile/{id} (id=${file.idx})}">
                            <span th:text="${file.originalFileName}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <button type="button" onclick="location.href='/boards'" class="btn btn-info">목록</button>
            <a href="#" th:href="@{/boards/edit/{idx} (idx=${board.idx})}"
               class="btn btn-success" role="button">수정</a>
        </div>
    </div>
</th:block>
</html>