<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<th:block layout:fragment="content">
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">
                <label th:text="#{member.join}"></label>
            </a>
            <a class="btn btn-lg btn-secondary" href="/members">
                <label th:text="#{member.list}"></label>
            </a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/items/new">
                <sapn th:text="#{product.insert}">product.insert</sapn>
            </a>
            <a class="btn btn-lg btn-dark" href="/items">
                <sapn th:text="#{product.list}">product.list</sapn>
            </a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">
                <sapn th:text="#{product.order}">product.order</sapn>
            </a>
            <a class="btn btn-lg btn-info" href="/orders">
                <sapn th:text="#{order.list}">order.list</sapn>
            </a>
        </p>
        <p class="lead">기타 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/boards">
                <sapn th:text="#{border}">border</sapn>
            </a>
            <a class="btn btn-lg btn-secondary" href="/grid/grid01">
                <sapn th:text="#{grid}">grid</sapn>
            </a>
        </p>
    </div>
</th:block>
</html>